body {
    font-family: Arial;
}
 
.portfolioFilter a { 
    margin-right: 10px; 
    color:#FFF;
    text-decoration:none;
}
 
.portfolioFilter a.current { 
    font-weight:bold;
}
 
img {
    margin:5px;
}
 
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.photo, .video, .sound, .animation, .apps, .games, .graphic {
	float: left;
	margin: 0 0 0 0;
}

#s1, #s2, #s3, #s4, #s5, #s6{
	float: left;
	width:100%;
	height:100%;
	background-color:#09F;
}

img[src^="images/submissions/"]{
	float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
}

#landing{
	width:100%;
	height:900px;
	background-color:#09F;
}

h1{
	background-color:#FFF;
	text-align:center;
}

h2, h3, h4{
	text-align:center;
	color:#FFF;
}

p{
	color:#FFF;
	text-align:center;
	font-size:large;
	padding:0 20px 0 20px;
}

#welcomePara{
	text-align:left;
	padding:0 100px 0 100px;
	font-size:large;
}

#map{
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
}

.gap{
	height:50px;
}

.logo{
	margin-left:auto;
	margin-right:auto;
	padding:30px;
	opacity:0.7;
}

.logo:hover{
	margin-left:auto;
	margin-right:auto;
	opacity:1;
	height:302px;
	width:602px;
}

img{
	padding:10px;
}

a{
	color:#FF0;
}

#texttween {
	position: relative;
	margin:auto;
	width: 700px;
	height: 100%;
    color:#FF0;
    padding:50px;
}

#texttween:hover{
	color:#F00;
}

#texttween .text {
	font-size: 120px;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	position: absolute;
}

footer{
	background-color:#09F;
	color:#FFF;
	height:100px;
	margin-left:auto;
	margin-right:auto;
}

/*Media Queries*/

/*@media (max-width:1920px) and (orientation:landscape){
	p, #welcomePara{
		font-size:30px;
	}

	.logo, .logo:hover{
		margin-left:auto;
		margin-right:auto;
		width:480px;
		height:300px;
	}
	
	img{
		width:800px;
		height:300px;
	}
	
	.gap{
		height:90px;
	}

	h1{
		font-size:70px;
	}
	
	h2{
		font-size:50px;
	}
	
	h4{
		font-size:30px;
	}
	
	.portfolioFilter a { 
		font-size:30px;
	}
}*/

@media (max-width:1920px) and (orientation:portrait){
	.logo, .logo:hover{
		width:45%;
		height:200px;
	}
}

@media (max-width:1280px) and (orientation:landscape){
	#landing{
		height:100vh;
	}
	
	#texttween .text {
		font-size:70px;
	}
	
	.gap{
		height:50px;
	}
	
	.logo, .logo:hover{
		width:45%;
		height:240px;
	}
}

@media (max-width:1280px) and (orientation:portrait){
	
	#landing{
		height:700px;
	}
	
	.container{
		height:100px;
	}
	
	.container a{
		float:left;
}

	#texttween .text {
		font-size:90px;
		width:80%;
	}
	
	img{
		width:80%;
	}
	
	.gap{
		height:90px;
	}
}

@media screen and (max-width:500px){
	
	p, #welcomePara{
		font-size:30px;
	}
	
	.container a{
		height:15px;
	}
	
	#texttween .text {
		font-size:90px;
		width:60%;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	p, #welcomePara{
		font-size:50px;
	}
	
	h1{
		font-size:70px;
	}
	
	
	h2{
		font-size:50px;
	}
	
	h4{
		font-size:30px;
	}
	
	.portfolioFilter a { 
		font-size:30px;
	}
	
	img[src^="images/submissions/"]{
		width:300px;
		height:200px;
	}
}